<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IT-Conferentie 2025 - Dashboard</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Overzicht van events</h1>

<table border="1">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Sprekers</th>
        <th>Lokaal</th>
        <th>Datum & Tijd</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.naam}"></td>
        <td>
            <span th:each="spreker, iter : ${event.sprekers}" th:if="${iter.index < 3}">
                <span th:text="${spreker.naam}"></span><br/>
            </span>
        </td>
        <td th:text="${event.lokaal.naam}"></td>
        <td th:text="${#temporals.format(event.datumTijd, 'dd-MM-yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
